<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <h1>Video</h1>

    <video controls autoplay>
<!--       <source src="devstories.webm"
          type='video/webm;codecs="vp8, vorbis"'/>
 -->
 <!-- type='video/mp4;codecs="avc1.42E01E, mp4a.40.2" -->
      <source src="/video/56d6dd76496a9d7f879747b7?<%= Time.now %>" />
      <!-- <source src="/video/56d6d8f1496a9d7e997bb1c5?<%= Time.now %>" /> -->
    </video>
</html>